@import compass/css3
@import compass/reset
@import inc/fonts
@import inc/colors
@import inc/base
@import inc/component
@import inc/form
@import inc/navbar
@import inc/chosen
@import inc/carousel
@import inc/bootstrap-custom
@import inc/icon
@import inc/datepicker
@import inc/dropzone
@import inc/scrollbar
@import inc/button-effect
@import inc/widget
@import inc/list-group
@import inc/range-slider
@import inc/partial/header
@import inc/partial/stage
@import inc/partial/home-slider
@import inc/partial/catalog

@import "icon/*.png"
$icon-sprite-dimensions: true
@include all-icon-sprites


.badge
  .contain-nav-complimentary &
    vertical-align: middle
    margin-left: 8px
    margin-top: -4px

.btn-group-auth
  clear: both

.btn-choose
  max-width: 120px
  margin-left: auto
  margin-right: auto
  margin-top: $base-gap
  margin-bottom: $base-gap

.wrap-template
  height: 91%
  position: relative

.wrap-collection
  height: 85%
  height: -webkit-calc(100% - 175px)
  height: -moz-calc(100% - 175px)
  height: calc(100% - 175px)
  position: relative
  
.widget-template > .widget-body
  position: relative

  &:after
    content: ''
    display: block
    width: 1px
    height: 91%
    background: get-color(seamless)
    position: absolute
    left: 50%
    top: 0

.site-footer
  .contain-vcard
    padding-left: $base-gap

    @include desktop-up
      padding-left: 3 * $base-gap  

    @include desktop
      padding-left: 0

  @include desktop
    .wrap-vcard
      margin-left: 0
      border-left: none

.panel-view
  .image-svg
    fill: get-color(base)

  .active
    .image-svg
      fill: get-color(secondary)    

.row.no-gutter
  margin-left: 0
  margin-right: 0

  > [class^="col-"],
  > [class*="col-"]
    padding-left: 0
    padding-right: 0

.wrap-tool
  position: relative
  overflow: hidden

.contain-tool
  &.ng-enter,
  &.ng-leave
    @include transition-duration(.5s)
    @include transition-property(transform)

  &.ng-enter
    @include opacity(1)
    @include transform(translate(0, 0))

  &.ng-leave
    position: absolute
    @include opacity(0)
    @include transform(translate(100%, 0))

.custom-preview-fields
  margin-top: $base-gap

  @include desktop-large
    margin-top: .5 * $base-gap 

.primary-content
  @include tablet-up
    border-left: 1px solid get-color(seamless)   

.tooltip-inner
  @extend .text-spaced
  @extend .text-uppercase
  @include typo-main    

  .cart-list-spec &
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 300px
    @include rem(font-size, 13px)


@import inc/media_queries/small_desktop     
@import inc/media_queries/desktop     