$base-gap: 20px		
$field-height: 40px
$container-tablet: 1000px + $base-gap
$container-desktop: 1240px + $base-gap
$container-large-desktop: 1900px

@mixin typo-main
	font-family: "Lora","Segoe UI", Helvetica, Arial, sans-serif
	font-weight: normal

@mixin typo-script
	font-family: "Petit Formal Script", "Segoe UI", Helvetica, Arial, sans-serif
	font-weight: normal

@mixin typo-script-special
	font-family: "Edwardian Script ITC", "Segoe UI", Helvetica, Arial, sans-serif
	font-weight: normal

@mixin border-box
	@include box-sizing(border-box)

@mixin smooth-ease
	@include transition(all .5s ease)

@mixin text-ellipsis
	white-space: nowrap
	max-width: 100%
	overflow: hidden
	text-overflow: ellipsis

@function parseInt($n)
	@return $n / ($n * 0 + 1)

@mixin rem($property, $values)
	$px: ()
	$rem: ()

	@each $value in $values

		@if $value == 0 or $value == auto
			$px: append($px, $value)
			$rem: append($rem, $value)

		@else
			$unit: unit($value)
			$val: parseInt($value)
		
			@if $unit == "px"
				$px: append($px, $value)
				$rem: append($rem, $val / 10 + rem)
		
			@if $unit == "rem"
				$px: append($px, $val * 10 + px)
				$rem: append($rem, $value)

	@if $px == $rem
		#{$property}: $px
	
	@else
		#{$property}: $px
		#{$property}: $rem

@mixin placeholder($color)
	&:-moz-placeholder
		color: $color
	&::-moz-placeholder
		color: $color
	&:-ms-input-placeholder
		color: $color
	&::-webkit-input-placeholder
		color: $color	

@mixin tablet
	@media only screen and (min-width: #{$container-tablet}) and (max-width: #{$container-desktop - 1px})
		@content

@mixin tablet-up
	@media only screen and (min-width: #{$container-tablet})
		@content

@mixin desktop
	@media only screen and (min-width: #{$container-desktop}) and (max-width: #{$container-large-desktop - 1px})
		@content

@mixin desktop-up
	@media only screen and (min-width: #{$container-desktop})
		@content

@mixin desktop-large
	@media only screen and (min-width: #{$container-large-desktop})
		@content

*	
	@include border-box	

img
	max-width: 100%

.clearfix:after
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0
		
html
	font-size: 62.5%

body,
html	
	margin: 0
	height: 100%
	color: get-color(base)
	line-height: 1.688
	padding-right: 0!important
	overflow: visible!important
	@include typo-main

body
	background: get-color(seamless)	

body,
input,
select,
textarea,
button
	-webkit-font-smoothing: antialiased
	@include rem(font-size, 14px)
	@include typo-main

p
	line-height: 1.688
	margin-bottom: 0

strong
	font-weight: bold	

em
	font-style: italic	

a,
a:visited
	text-decoration: none
	color: get-color(primary)

	&:hover
		text-decoration: none	

h1, h2, h3, h4
	font-weight: bold
	margin: 0

h2
	@include rem(font-size, 30px)

h3
	@include rem(font-size, 24px)

h4
	@include rem(font-size, 18px)

.typo-script
	@include typo-script	

.typo-script-special
	font-weight: normal
	@include typo-script-special	

.block
	display: block

.inline-block
	display: inline-block	

.text-spaced
	letter-spacing: .1em	

.text-spaced-half
	letter-spacing: .05em	

.text-uppercase
	text-transform: uppercase

.text-lowercase
	text-transform: lowercase	

.text-normal
	font-weight: 500

.text-bold
	font-weight: 700
	
.text-italic
	font-style: italic

.text-center
	text-align: center	

.text-right
	text-align: right

.text-left
	text-align: left

.text-normal
	font-weight: normal

.text-light
	font-weight: 300

.text-thin
	font-weight: 100

.lead
	line-height: 1.4
	@include rem(font-size, 24px)

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	border: 0	

@for $i from 10 through 72
	.font-size-#{$i}	
		@include rem(font-size, $i * 1px)

@for $i from 1 through 10
	.margin-top-#{$i*5}	
		margin-top: $i*5px
		
	.margin-left-#{$i*5}	
		margin-left: $i*5px




.width-100p
	width: 100%

.width-16
	width: 16px

.width-20
	width: 20px

.width-24
	width: 24px

.width-30
	width: 30px

.width-36
	width: 36px

.width-42
	width: 42px

.width-54
	width: 54px

.width-72
	width: 72px

.width-100
	width: 100px

.height-100p
	height: 100%

.height-16
	height: 16px

.height-20
	height: 20px

.height-24
	height: 24px

.height-30
	height: 30px

.height-36
	height: 36px

.height-42
	height: 42px

.height-54
	height: 54px

.height-72
	height: 72px

.height-100
	height: 100px