.btn.btn-sacnite
	color: get-color(clean)
	background: get-color(clean)
	@include transition(color 0.3s)

	.image-svg
		fill: get-color(clean)
		@include smooth-ease

.btn-sacnite
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: inherit
		z-index: -1
		@include box-shadow(inset 0 0 0 35px get-color(base))
		@include transition(box-shadow 0.3s, transform 0.3s)

	&:hover
		color: get-color(base)

		.image-svg
			fill: get-color(base)
			@include transform(translate(15px, 0))

	&:hover::before
		@include box-shadow(inset 0 0 0 2px get-color(secondary))


.btn
	position: relative
	z-index: 1
	-webkit-backface-visibility: hidden
	-moz-osx-font-smoothing: grayscale

.link-base
	&:hover
		color: get-color(warning)	