.owl-dots
	text-align: center

	.slide-primary &
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		padding: $base-gap 0
		margin-bottom: -6px

	> .owl-dot
		display: inline-block
		width: 12px
		height: 12px
		margin: 0 5px
		background-color: get-color(clean)
		cursor: pointer
		@include border-radius(100%)

		&.active,
		&:hover
			background-color: get-color(warning)


.slide-template-item,
.template-carousel-item
	img
		width: auto!important
		margin: 0 auto

.owl-nav
	position: absolute
	width: 100%
	left: 0
	top: 50%
	margin-top: -8px

	.owl-prev
		@extend .icon-prev
		display: block
		text-indent: -9999px
		float: left

	.owl-next
		@extend .icon-next
		display: block
		text-indent: -9999px
		float: right