.chosen-container
	position: relative
	display: inline-block
	vertical-align: middle
	min-width: 70px
	zoom: 1
	*display: inline
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
	height: $field-height
	text-align: left

	.chosen-drop
		position: absolute
		top: 100%
		left: -9999px
		z-index: 1012
		width: 100%
		border: none
		background: transparent
		box-shadow: none
		margin-top: -1px
	
	&.chosen-with-drop .chosen-drop
		left: 0

	a
		cursor: pointer	

.chosen-container-single
	.chosen-single,
	.chosen-single:visited
		position: relative
		display: block
		overflow: hidden
		padding: 8px $base-gap
		height: 60px
		height: 100%
		text-decoration: none
		white-space: nowrap
		background: get-color(seamless)
		color: get-color(mute)

		.background-seamless &
			background: get-color(clean)
			@include box-shadow(1px 1px 1px get-color(seamless-darken))

		&:hover
			background: get-color(seamless-darken)

		span
			display: inline-block
			overflow: hidden
			margin-right: 10px
			height: 100%
			text-overflow: ellipsis
			white-space: nowrap

		div
			position: absolute
			display: inline-block
			top: 0
			width: 10px
			right: 14px
			height: 100%

			&:after
				@extend .icon-dropdown
				content: ''
				position: absolute
				left: 0
				top: 50%
				margin-top: -5px
				//z-index: 1011
	
	.chosen-search
		position: relative
		z-index: 1010
		margin: 0
		padding: 3px 4px
		margin-top: -33px
		white-space: nowrap

		& > input[type=text]
			border: none
	
	input[type="text"]
		margin: 1px 0
		padding: 4px 20px 4px 5px
		width: 100%
		height: auto
		outline: 0

	&.chosen-container-single-nosearch .chosen-search
		position: absolute
		left: -9999px

.chosen-container .chosen-results
	position: relative
	overflow-x: hidden
	overflow-y: auto
	max-height: 240px
	min-width: 120px
	-webkit-overflow-scrolling: touch
	background: white
	border: 1px solid get-color(seamless)
	margin-top: 1px
	color: get-color(base)

	.background-seamless &
		border: none
	
	li
		display: none
		margin: 0
		padding: 8px $base-gap
		list-style: none
		-webkit-touch-callout: none
		color: get-color(base)

		&.group-result
			display: list-item
			cursor: default
			font-style: italic
			@include opacity(.7)

			&:empty
				display: none

			&:before,
			&:after
				content: ''
				display: block
				background: get-color(seamless)
				position: absolute
				top: 50%
				height: 1px
				margin-top: -1px

			&:before
				width: 10px
				left: 0

			&:after
				width: 45%
				right: 0
	
		&.active-result
			display: list-item
			cursor: pointer

		&.disabled-result
			display: list-item
			color: #ccc
			cursor: default

		&.result-selected
			color: get-color(mute)

			&:hover
				background-color: get-color(clean)
				color: get-color(mute)

		&.highlighted
			background-color: get-color(seamless-darken)
			color: get-color(base)

.chosen-disabled
	opacity: 0.5 !important
	cursor: default
	
	.chosen-single, .chosen-choices .search-choice .search-choice-close
		cursor: default