$colors: primary #000000, danger #ff5e5b, seamless #f7f7f7, seamless-darken #ebebeb, mute #747474, clean #ffffff, warning #ff5e5b, base #000000, secondary #cbcbcb, highlight #2198c1, success #a0ce4e

@function get-color($color-name)
	@each $color in $colors
		$key: nth($color, 1)
		$value: nth($color, 2)

		@if $key == $color-name
			@return $value

@each $color in $colors
	$key: nth($color, 1)
	$value: nth($color, 2)

	.color-#{$key},
	.link-#{$key},
	.link-#{$key}:visited,
	.text-#{$key}
		color: $value

	.fill-#{$key}
		fill: $value

	.link-#{$key}:hover
		color: darken($value, 10)

	.background-#{$key},
	.badge.background-#{$key},
	.btn-#{$key}
		background-color: $value

	.background-#{$key}-alpha
		background-color: rgba($value, .5)

	.border-#{$key},
	.btn-stroke-#{$key}
		border-color: $value

	.btn.btn-stroke-#{$key},
	.btn.btn-stroke-#{$key}:visited
		color: $value
		border-style: solid
		border-width: 1px

	.btn-stroke-#{$key}:hover,
	.btn-stroke-#{$key}:visited:hover
		background-color: $value

	.btn-#{$key}:hover,
	.btn-#{$key}:visited:hover
		background-color: darken($value, 5)

	.option-group-#{$key}
		$background-base-color: $value

		> .option-item
			background-color: $background-base-color

		@for $i from 0 to 5
			$item-color: darken( $background-base-color, $i*2 )

			> .option-item:nth-child(#{$i})
				background-color: $item-color

				&:hover
					background-color: darken( $item-color, 3 )

				> [type=submit]
					background: transparent
					border: none
					cursor: pointer
