[class^="icon-"],
[class^="before-after-"]
	display: inline-block
	vertical-align: middle

caption, th, td
	font-weight: bold	

.relative
	position: relative	

.row.row-large
	margin-left: -1 * .5 * $base-gap
	margin-right: -1 * .5 * $base-gap

	> [class^="col-"],
	> [class^="col-"]
		padding-left: .5 * $base-gap
		padding-right: .5 * $base-gap

.row.row-tight
	margin-left: 0
	margin-right: 0

	> [class^="col-"],
	> [class^="col-"]
		padding-left: 0
		padding-right: 0

.row.row-flex,
.display-flex
	display: flex
	flex-flow: row wrap		

.icon-helper
	display: inline-block
	vertical-align: middle
	margin-right: 10px	
	margin-top: -3px

	&.icon-helper-right
		margin-left: 10px
		margin-right: 0

.btn,
.btn:visited
	height: 42px
	padding: 14px 24px
	line-height: 1
	display: inline-block
	border: none
	text-align: center
	cursor: pointer
	@include smooth-ease

	&.btn-sm
		padding: 8px 18px
		height: 32px
		@include rem(font-size, 12px)

	&.btn-lg
		padding: 16px 18px
		height: 52px
		@include rem(font-size, 18px)

	&.btn-auto
		height: auto
		line-height: normal

.btn-collection,
.btn-collection:visited
	border: 1px solid get-color(seamless-darken)
	display: block
	margin: -1px
	background: get-color(clean)

.btn-default,
.btn-default:visited
	color: get-color(mute)
	border: 2px solid get-color(secondary)	
	padding: 12px 24px

	&:hover,
	&.active
		background: get-color(base)
		color: get-color(clean)	
		border: 2px solid get-color(base)	

		.image-svg
			fill: get-color(clean)

.btn-default-alt,
.btn-default-alt:visited
	color: get-color(primary)
	border: 1px solid get-color(secondary)	

	&:hover
		background: get-color(base)
		color: get-color(clean)	
		border: 1px solid get-color(base)	

.btn-danger,
.btn-danger:visited,
.btn-primary,
.btn-primary:visited,
.btn-base,
.btn-base:visited
	color: get-color(clean)

.btn-base
	border: 2px solid get-color(base)
	padding: 12px 24px

	&:hover
		background-color: transparent
		color: get-color(base)

		.image-svg
			fill: get-color(base)

	.image-svg
		fill: get-color(clean)

.btn-base-alt
	border: 2px solid get-color(base)
	background: get-color(clean)
	padding: 12px 24px

	&:hover
		background-color: get-color(base)
		color: get-color(clean)

		.image-svg
			fill: get-color(clean)

	.image-svg
		fill: get-color(base)

.btn-block
	display: block
	width: 100%

.btn-medium
	min-width: 165px

.btn-clean,
.btn-clean:visited
	&.active
		color: get-color(mute)
										
.btn-group
	@extend .clearfix

	> .btn
		width: 100%
		text-align: center

		+ .btn
			margin-top: 15px

	@include tablet-up
		> .btn
			display: inline-block
			width: auto

			+ .btn
				margin-top: 0
				margin-left: $base-gap

				.catalog &
					margin-left: .5 * $base-gap

	@include desktop-large
		> .btn
			.catalog &
				padding-left: 12px
				padding-right: 12px

.btn-cloud
	.btn
		padding-left: $base-gap
		padding-right: $base-gap
		margin-right: .5 * $base-gap
		margin-bottom: .5 * $base-gap				


.column-lone
	float: none!important
	margin-left: auto
	margin-right: auto



.spaced
	padding-top: $base-gap
	padding-bottom: $base-gap

	&.spaced-lg
		padding-top: 3 * $base-gap
		padding-bottom: 3 * $base-gap

	&.spaced-md
		padding-top: 2 * $base-gap
		padding-bottom: 2 * $base-gap	

	&.spaced-xs
		padding-top: .5 * $base-gap
		padding-bottom: .5 * $base-gap	

	&.spaced-top
		padding-bottom: 0

	&.spaced-bottom
		padding-top: 0		

.rounded
	@include border-radius(100%)	

.module
	padding: $base-gap	

	&.module-lg
		padding: 2 * $base-gap

	&.module-md
		padding: .5 * $base-gap	

	&.module-xs
		padding: .25 * $base-gap	

.no-padding-top
	padding-top: 0

.no-padding-bottom
	padding-bottom: 0
				
.fill-space
	width: 100%
	height: 100%
	top: 0
	bottom: 0
	left: 0
	right: 0
	position: absolute

.contain-vertical-align,
.contain-vertical-align > .vertical-align
	width: 100%
	height: 100%

.contain-vertical-align
	display: table

.vertical-align
	display: table-cell

.vertical-align-middle	
	vertical-align: middle

.vertical-align-bottom	
	vertical-align: bottom


.margin
	margin: $base-gap

.margin-md
	margin: 2 * $base-gap

.margin-lg
	margin: 3 * $base-gap

.margin-top
	margin-left: 0
	margin-right: 0
	margin-bottom: 0	

.margin-bottom
	margin-left: 0
	margin-right: 0
	margin-top: 0	

.margin-top-bottom
	margin-left: 0
	margin-right: 0	

.margin-left
	margin-top: 0
	margin-right: 0
	margin-bottom: 0	

.padding
	padding: $base-gap

.padding-md
	padding: 2 * $base-gap

.padding-lg
	padding: 3 * $base-gap

.padding-top
	padding-left: 0
	padding-right: 0
	padding-bottom: 0	

.padding-bottom
	padding-left: 0
	padding-right: 0
	padding-top: 0	

.padding-top-bottom
	padding-left: 0
	padding-right: 0	

.padding-left
	padding-top: 0
	padding-right: 0
	padding-bottom: 0	


.border-all
	border-width: 1px
	border-style: solid

.border-double
	border-width: 2px

.border-dashed
	border-style: dashed

.border-top
	border-top-width: 1px
	border-top-style: solid

	&.border-double
		border-top-width: 2px

	&.border-dashed
		border-top-style: dashed

.border-bottom
	border-bottom-width: 1px	
	border-bottom-style: solid

	&.border-double
		border-bottom-width: 2px

	&.border-dashed
		border-bottom-style: dashed

.border-left
	border-left-width: 1px
	border-left-style: solid

	&.border-double
		border-left-width: 2px

	&.border-dashed
		border-left-style: dashed

.border-right
	border-right-width: 1px
	border-right-style: solid

	&.border-double
		border-right-width: 2px

	&.border-dashed
		border-right-style: dashed

.border-top-bottom
	border-top-width: 1px
	border-bottom-width: 1px	
	border-top-style: solid
	border-bottom-style: solid

	&.border-double
		border-top-width: 2px
		border-bottom-width: 2px

	&.border-dashed
		border-top-style: dashed
		border-bottom-style: dashed


.media.media-tight
	margin-top: 0

	.media-left
		padding-right: 0

.media-object
	max-width: none	


.link-underline
	text-decoration: underline	


.list-default
	> li
		+ li			
			margin-top: 15px


.list-inline
	> li
		display: inline-block
		vertical-align: middle
		
		+ li			
			margin-left: $base-gap




.thumbnail
	overflow: hidden
	display: inline-block

	&.thumbnail-small
		width: 70px
		height: 70px
		text-align: center
		overflow: hidden
		margin: 0 auto

	.catalog &
		height: 196px

		> img
			width: auto
			height: 100%

	.sidebar-catalogue &
		margin-right: .5 * $base-gap

		> img
			max-width: 100px

	> img
		max-width: 100%
		height: auto
		@include smooth-ease

	&:hover
		> img
			@include transform(scale(1.05))

.inline-item
	display: inline-block
	vertical-align: middle
	
	
	+ .inline-item
		margin-left: $base-gap

		&.inline-item-large
			margin-left: 3 * $base-gap


.hcol
	@include tablet-up
		display: table
		width: 100%

		> .hcol-item
			display: table-cell
			min-height: 1px


.contain-scroll
	overflow: auto
	position: relative



.head-section
	margin-bottom: $base-gap
	padding-bottom: .5 * $base-gap
	position: relative
	@include rem(font-size, 14px)	

	&:after
		content: ''
		display: block
		width: 40px
		height: 4px
		background: get-color(seamless-darken)
		position: absolute
		bottom: 0 
		left: 0

.head-section-inner
	font-weight: normal
	padding: .25 * $base-gap $base-gap
	@include rem(font-size, 14px)		



.table
	width: 100%		
	border: 1px solid get-color(seamless-darken)

	> thead,
	> tbody
		th,
		td
			vertical-align: middle
			padding: .5 * $base-gap $base-gap
			font-weight: normal

	> thead
		th
			border-top: 1px solid get-color(seamless-darken)
			border-bottom: 2px solid get-color(seamless-darken)

	> tbody
		td
			border: 1px solid get-color(seamless-darken)


.cart-product-overview
	padding-left: $base-gap	

.cart-list-spec
	.media-object
		max-width: 50px
		max-height: 50px
		margin: 0 auto


.bullet-item
	position: relative

	&:before
		content: ''
		display: block
		width: 6px
		height: 6px
		position: absolute
		top: 8px
		left: -10px
		background: get-color(base)
		@include border-radius(100%)

	&.bullet-item-highlight
		&:before
			background: get-color(highlight)

	&.bullet-item-warning
		&:before
			background: get-color(warning)

	&.bullet-item-danger
		&:before
			background: get-color(danger)

	&.bullet-item-success
		&:before
			background: get-color(success)

.sidebar-catalogue-item
	margin-left: -30px
	margin-right: -20px
	padding-left: 30px
	padding-right: 20px

	+ .sidebar-catalogue-item			
		padding-top: $base-gap
		margin-top: $base-gap
		border-top: 1px solid get-color(seamless-darken)


.contain-head-line
	position: relative
	overflow: hidden

	&:after
		content: ''
		display: block
		width: 60%
		height: 3px
		background: get-color(clean)		
		position: absolute
		bottom: 10px
		left: 20%

.head-line-content
	&:before
		content: ''
		display: block
		width: 6px
		height: 6px
		border: 3px solid get-color(clean)
		position: absolute
		bottom: 10px
		margin-bottom: -5px
		@include border-radius(100%)		

	&.pull-left
		&:before
			left: 20%		
			margin-left: -9px

	&.pull-right
		&:before
			right: 20%
			margin-right: -9px


.image-collection
	max-width: 100px
	max-height: 100px
	margin: 0 auto


.block-center
	margin: 0 auto

.item-remove
	position: absolute
	right: $base-gap
	top: 50%
	margin-top: -20px	
