.wrap-upload
  height: 90%
  height: -webkit-calc(100% - 45px)
  height: -moz-calc(100% - 45px)
  height: calc(100% - 45px)

.contain-upload
  position: relative

.contain-preview
  margin-top: 0

.file-remove
  position: absolute
  top: 0
  right: 10px
  z-index: 3
  cursor: pointer
  font-weight: bold
  color: get-color(primary)
  display: inline-block
  vertical-align: middle
  @include rem(font-size, 16px)

.progress
  bottom: 0
  left: 0
  z-index: 5
  width: 220px
  height: 36px
  color: get-color(clean)
  background: rgba(get-color(warning), .8)

  > .progress-bar
    background: get-color(warning)  
    height: 36px
    padding: 7px 15px
    position: relative
    

    > strong
      line-height: 1
      position: absolute
      top: 12px
      left: 15px
      white-space: nowrap


.upload-meta
  > p + p
    margin-top: 8px


.upload-helper
  margin-top: -10px
  position: relative
  z-index: 2


.upload-trigger
  cursor: pointer  
  z-index: 2

.upload-dragover
  z-index: 3
  background: rgba(get-color(base), .95)

.contain-progress
  width: 90%
  height: 90%
  margin: 0 auto

.progress-radial
  position: relative
  width: 100%
  padding-bottom: 100%
  @include border-radius(100%)

  .overlay
    position: absolute
    width: 94%
    padding-bottom: 94%
    background-color: get-color(clean)
    top: 50%
    left: 50%
    @include transform(translate(-50%, -50%))
    @include border-radius(100%)

.progress-0
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(0deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-5
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(342deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-10
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(324deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-15
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(306deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-20
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(288deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-25
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-30
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(252deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-35
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(234deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-40
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(216deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-45
  background-image: -webkit-linear-gradient(0deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(198deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(seamless) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-50
  background-image: -webkit-linear-gradient(180deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(-90deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-55
  background-image: -webkit-linear-gradient(162deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(-72deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-60
  background-image: -webkit-linear-gradient(144deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(-54deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-65
  background-image: -webkit-linear-gradient(126deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(-36deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-70
  background-image: -webkit-linear-gradient(108deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(-18deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-75
  background-image: -webkit-linear-gradient(90deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(0deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-80
  background-image: -webkit-linear-gradient(72deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(18deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-85
  background-image: -webkit-linear-gradient(54deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(36deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-90
  background-image: -webkit-linear-gradient(36deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(54deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-95
  background-image: -webkit-linear-gradient(18deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(72deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.progress-100
  background-image: -webkit-linear-gradient(0deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))
  background-image: linear-gradient(90deg, get-color(highlight) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, get-color(highlight) 50%, get-color(seamless) 50%, get-color(seamless))

.visible-processing
  display: none

  .dz-processing &
    display: block

.visible-success
  display: none

  .dz-success &
    display: block

.visible-error
  display: none

  .dz-error &
    display: block

.visible-started
  display: none

  .dz-started &
    display: block

.visible-complete
  display: none

  .dz-complete &
    display: block

.visible-dragover
  display: none

  .dz-dragover &
    display: block

.hidden-processing
  .dz-processing &
    display: none 

.hidden-started
  .dz-started &
    display: none  

.hidden-complete
  .dz-complete &
    display: none   
