.form-control
  display: block
  width: 100%
  height: $field-height
  padding: 12px $base-gap
  line-height: 1.42857143
  background-color: get-color(seamless)
  background-image: none
  border: none
  color: get-color(base)
  outline: none
  @include placeholder(get-color(mute))

  .background-seamless &
    background: get-color(clean)
    @include box-shadow(1px 1px 1px get-color(seamless-darken))

  &.disabled,
  &:disabled
    background: rgba(get-color(mute), .25)
    color: darken(get-color(mute), 4)
    cursor: not-allowed
    @include placeholder(darken(get-color(mute), 4))

    &:hover
      background: darken(get-color(seamless), 4)

  &:hover
    background-color: darken(get-color(seamless), 4)

  &:focus,
  &:active
    background-color: darken(get-color(seamless), 4)


.form-control-auto
  display: inline-block
  width: auto

.form-control-no-placeholder
  color: get-color(mute)

  ~ .contain-file-upload:hover
    background-color: rgba(get-color(seamless), .25)

.form-control-no-hover:hover
  background: #fff

span.form-control
  color: get-color(mute)


textarea.form-control
  height: 150px
  resize: none    

[type=submit]
  background-color: get-color(clean)

.label-radio
  position: relative
  height: $field-height
  padding-left: $base-gap
  cursor: pointer
  display: block

  > input[type=radio]
    position: absolute
    z-index: -1
    left: 0
    top: 50%
    margin: 0
    margin-top: -7px
    @include opacity(0)

    &:checked
      ~ span
        font-weight: bold

      ~ span:before
        @extend .icon-radio-checked

  > span
    display: inline-block
    line-height: $field-height
    vertical-align: middle

    &:before
      @extend .icon-radio
      content: ''
      position: absolute
      left: 0
      top: 50%
      margin-top: -7px


.form-group
  + .form-group
    margin-top: 2 * $base-gap

  @include desktop
    > .row
      > [class^="col-lg"] + [class^="col-lg"]
        margin-top: $base-gap




.control-field
  position: relative
  
  label.error
    position: absolute
    top: 50%
    right: $base-gap
    border-bottom: 1px solid get-color(mute)
    display: inline-block
    padding: 4px 8px
    background: get-color(clean)
    z-index: 3
    color: get-color(danger)
    margin-top: -15px
    @include rem(font-size, 12px)

.control-field-icon,
.control-field-helper
  position: relative
  height: $field-height
  

  > .field-icon
    position: absolute
    left: $base-gap
    top: 50%

    &.field-icon-camera 
      margin-top: -12px

    &.field-icon-calendar  
      margin-top: -12px
  

  > .field-helper
    position: absolute
    right: $base-gap
    top: 50%

    &.field-helper-question
      margin-top: -12px


.control-field-icon
  .form-control
    padding-left: 2 * $base-gap  


.control-field-helper
  .form-control
    padding-right: 2 * $base-gap      



.input-datepicker
  @include rem(font-size, 14px)

  &::-webkit-input-placeholder
    @include rem(font-size, 14px)

  &::-ms-input-placeholder
    @include rem(font-size, 14px)

  &::-moz-placeholder
    @include rem(font-size, 14px)

.control-label
  display: block
  margin-bottom: 4px
  font-weight: bold

.form-group-submit
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  z-index: 2

.icon-helper-submit
  float: right


.form-primary
  margin-left: .5 * $base-gap
  margin-right: .5 * $base-gap

.radio-thumbnail
  display: block
  position: relative
    
  > img
    display: block
    width: 100%
    height: auto
      
.label-radio-thumbnail
  cursor: pointer
  margin-bottom: $base-gap
  display: block
  position: relative
  
  .image-svg
    position: absolute
    top: 10px
    right: 10px
    z-index: 3
    @include opacity(0)
    @include transform(scale(.9))
    @include smooth-ease

  .radio-thumbnail
    &:before
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      @include box-shadow(inset 0 0 0 2px transparent)
      @include transition(box-shadow .3s)

    &:hover:before
      @include box-shadow(inset 0 0 0 50px rgba(get-color(base), .5))

  [type=radio].active
    ~ .radio-thumbnail:before
      @include box-shadow(inset 0 0 0 50px rgba(get-color(base), .5))

    ~ .image-svg
      @include opacity(1)
      @include transform(scale(1))


.form-control:-moz-placeholder
  font-style: italic

.form-control::-moz-placeholder
  font-style: italic

.form-control:-ms-input-placeholder
  font-style: italic

.form-control::-webkit-input-placeholder
  font-style: italic



.control-icon
  position: relative

  .input-icon
    position: absolute
    right: .5 * $base-gap
    top: 50%
    margin-top: -8px