.nav
  padding-left: 0
  margin-bottom: 0
  list-style: none

  > li
    position: relative
    display: block

    > a
      position: relative
      display: block
      padding: 10px 15px

      &:hover, 
      &:focus
        text-decoration: none
        background-color: #eee

    &.disabled > a
      color: #777

      &:hover, 
      &:focus
        color: #777
        text-decoration: none
        cursor: not-allowed
        background-color: transparent


.nav-inline
  @extend .clearfix

  > li
    > a,
    > a:visited
      padding: 0

      &:hover
        background: none

    + li
      margin-top: 10px         

  @include tablet-up
    > li
      float: left

      + li
        margin-top: 0
        margin-left: 3 * $base-gap

.nav-primary
  @extend .nav-inline

  @include tablet-up
    margin-top: .5 * $base-gap

    > li + li
      margin-left: 4 * $base-gap

    .image-svg
      margin-top: 2px

.nav-pipe
  @extend .clearfix

  > li
    display: inline-block
    vertical-align: middle
    float: left

    &.active
      font-weight: bold
    
    + li:before
      content: '\7C'
      display: inline-block
      vertical-align: middle
      margin-top: -4px

    > a
      display: inline

.nav-footer
  @extend .nav-inline

.nav-complimentary
  padding: 8px 30px 12px

.nav-menu
  > li
    > a
      display: block
      padding: 1.25 * $base-gap
      position: relative

      &:hover
        background-color: transparent
      
      &:after
        content: ''
        display: block
        width: 68px
        height: 2px
        background: get-color(warning)
        position: absolute
        left: 50%
        margin-left: -34px
        bottom: 0
        @include opacity(0)
        @include smooth-ease

      > .image-svg
        fill: get-color(secondary)  

    &:hover,
    &.active
      > a
        &:after
          @include opacity(1)

    &.active
      font-weight: bold
      
      > a
        > .image-svg
          fill: get-color(primary)


.nav-sidebar
  > li
    > a,
    > a:visited
      white-space: nowrap

    + li
      margin-top: $base-gap

    &:before
      content: ''
      display: none
      width: 4px
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: get-color(warning)  
      z-index: 2

    &.active
      font-weight: bold    

    &:hover,
    &.active
      position: relative    

      &:before
        display: block