.custom-range-slider
	position: relative

.range-slider-handle,
.range-slider-active,
.range-slider-label
	position: absolute

.range-slider-handle
	display: inline-block
	width: 20px
	height: 20px
	top: 50%
	margin-top: -10px
	border-width: 4px	
	z-index: 2
	cursor: pointer

.range-slider-handle:first-of-type
	margin-left: -10px

.range-slider-handle:last-of-type
	margin-right: -10px

.range-slider-track,
.range-slider-active
	height: 4px
	top: 0

.range-slider-label
	top: 100%
	z-index: 3	
	margin-top: $base-gap
	padding: 0 8px

.range-slider-track
	width: 100%