.ps-container
  -ms-touch-action: none
  touch-action: none
  overflow: hidden !important
  -ms-overflow-style: none
  &.ps-active-x > .ps-scrollbar-x-rail, &.ps-active-y > .ps-scrollbar-y-rail
    display: block
    background-color: transparent
    margin-right: 8px
  &.ps-in-scrolling
    pointer-events: none
    &.ps-x > .ps-scrollbar-x-rail
      background-color: get-color(secondary)
      opacity: 0.9
      > .ps-scrollbar-x
        background-color: rgba(get-color(base), .5)
    &.ps-y > .ps-scrollbar-y-rail
      background-color: get-color(secondary)
      opacity: 0.9
      > .ps-scrollbar-y
        background-color: rgba(get-color(base), .5)
  >
    .ps-scrollbar-x-rail
      display: none
      position: absolute
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      opacity: 0
      -webkit-transition: background-color .2s linear, opacity .2s linear
      -moz-transition: background-color .2s linear, opacity .2s linear
      -o-transition: background-color .2s linear, opacity .2s linear
      transition: background-color .2s linear, opacity .2s linear
      bottom: 3px
      height: 6px
      > .ps-scrollbar-x
        position: absolute
        background-color: rgba(get-color(base), .5)
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
        border-radius: 4px
        -webkit-transition: background-color .2s linear
        -moz-transition: background-color .2s linear
        -o-transition: background-color .2s linear
        transition: background-color .2s linear
        bottom: 0
        height: 6px
    .ps-scrollbar-y-rail
      display: none
      position: absolute
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      opacity: 0
      -webkit-transition: background-color .2s linear, opacity .2s linear
      -moz-transition: background-color .2s linear, opacity .2s linear
      -o-transition: background-color .2s linear, opacity .2s linear
      transition: background-color .2s linear, opacity .2s linear
      right: 3px
      width: 6px
      > .ps-scrollbar-y
        position: absolute
        background-color: rgba(get-color(base), .5)
        -webkit-border-radius: 4px
        -moz-border-radius: 4px
        border-radius: 4px
        -webkit-transition: background-color .2s linear
        -moz-transition: background-color .2s linear
        -o-transition: background-color .2s linear
        transition: background-color .2s linear
        right: 0
        width: 6px
  &:hover
    &.ps-in-scrolling
      pointer-events: none
      &.ps-x > .ps-scrollbar-x-rail
        background-color: get-color(secondary)
        opacity: 0.9
        > .ps-scrollbar-x
          background-color: rgba(get-color(base), .5)
      &.ps-y > .ps-scrollbar-y-rail
        background-color: get-color(secondary)
        opacity: 0.9
        > .ps-scrollbar-y
          background-color: rgba(get-color(base), .5)
    >
      .ps-scrollbar-x-rail, .ps-scrollbar-y-rail
        opacity: 0.6
      .ps-scrollbar-x-rail:hover
        background-color: get-color(secondary)
        opacity: 0.9
        > .ps-scrollbar-x
          background-color: rgba(get-color(base), .5)
      .ps-scrollbar-y-rail:hover
        background-color: get-color(secondary)
        opacity: 0.9
        > .ps-scrollbar-y
          background-color: rgba(get-color(base), .5)

@supports (-ms-overflow-style: none)
  .ps-container
    overflow: auto !important

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .ps-container
    overflow: auto !important