.widget-title
	padding: .5 * $base-gap 1.5 * $base-gap
	background: get-color(clean)

.widget-sidebar-title
	position: relative

	&:after
		content: ''
		display: block
		width: 60px
		height: 2px
		background: get-color(seamless)
		position: absolute
		left: 0
		bottom: 0	

.widget-template-carousel
	margin-top: $base-gap

	.wrap-template-carousel
		padding-left: $base-gap
		padding-right: $base-gap		