      <ul class="nav nav-menu hcol text-uppercase margin-top margin background-clean">
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.inscription' }">
          <a ui-sref="designerTool.inscription">
            <img src="images/svg/text.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Inscription</span>
          </a>
        </li>
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.material' }">
          <a ui-sref="designerTool.material">
            <img src="images/svg/brush.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Material Color</span>
          </a>
        </li>
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.artwork' || currentPage === 'designerTool.collection' }">
          <a ui-sref="designerTool.artwork">
            <img src="images/svg/rose.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Artwork</span>
          </a>
        </li>
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.uploadPortrait' }">
          <a ui-sref="designerTool.uploadPortrait">
            <img src="images/svg/photo.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Upload Portrait</span>
          </a>
        </li>
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.accessories' || currentPage === 'designerTool.accessoriesVase' }">
          <a ui-sref="designerTool.accessories">
            <img src="images/svg/vase.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Accessories</span>
          </a>
        </li>
        <li class="hcol-item text-center" data-ng-class="{ 'active' : currentPage === 'designerTool.finalPreview' }">
          <a ui-sref="designerTool.finalPreview">
            <img src="images/svg/check-circle.svg" alt="" class="image-svg width-42 height-42">
            <span class="block text-spaced">Final Preview</span>
          </a>
        </li>
      </ul>