          <div class="widget widget-template background-clean text-uppercase" equal-height equal-to="#wrap-stage">
            <div class="widget-title text-uppercase border-bottom border-seamless-darken">
              <h3 class="text-spaced font-size-14">Available Templates</h3>
            </div>
            <div class="widget-body height-100p">
              <div class="contain-scroll wrap-template">
                <div class="clearfix">
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>