          <div class="widget widget-template-carousel background-clean text-uppercase">
            <div class="widget-title text-uppercase border-bottom border-seamless-darken">
              <h3 class="text-spaced font-size-14">Available Templates</h3>
            </div>
            <div class="widget-body ">
              <div class="wrap-template-carousel">
                <div class="clearfix owl-carousel" carousel options='{ "items" : 6, "nav" : true, "dots" : false }'>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                  <div class="template-carousel-item">
                    <div class="module module-md text-center">
                      <img src="images/thumbnail-template.png" alt="">
                      <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>