    <footer class="site-footer margin margin-top-bottom">
      <div class="container spaced">
        <div class="row">
          <div class="col-md-3">
            <div class="logo-footer text-uppercase text-center">
              <div class="inline-block text-left text-mute module">
                <a href="" class="block"><img src="images/logo-wwmemorials.png" alt=""></a>
                <p class="font-size-12 text-uppercase text-spaced">Copyright (c) 2016 WWMemorials.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-5">
            <div class="border-left border-dashed border-secondary margin-lg margin-left wrap-vcard">
              <div class="contain-vcard">
                <p class="text-uppercase"><strong>Contact us</strong></p>
                <div class="row vcard margin margin-top text-mute">
                  <div class="col-md-6 col-lg-5">
                    <div class="adr">
                      <p class="street-address">46 South Glebe Road #100</p>
                      <p><span class="locality">Arlington</span>, <span class="region">VA(Virginia)</span> <span class="postal-code">22204</span></p>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-5">
                    <p>P: <span class="tel">(703) 521-0644</span></p>
                    <p>E: <a href="mailto:info@wwmemorials.com" class="email link-mute">info@wwmemorials.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 margin-top margin">
            <ul class="nav nav-inline pull-right text-uppercase text-spaced margin-top margin">
              <li><a class="link-mute" href="">Privacy policy</a></li>
              <li><a class="link-mute" href="">Terms &amp; conditions</a></li>
              <li><a class="link-mute" href="">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>