    <header class="site-header background-clean">
      <div class="container">
        <div class="contain-nav-complimentary clearfix">
          <div class="pull-right inline-block text-uppercase">
            <div class="background-seamless nav-complimentary">
              <div class="inline-item inline-item-large font-size-12">
                <a ui-sref="checkout">
                  Cart <span class="badge background-warning color-clean font-size-12">3</span>
                </a>
              </div>
              <div class="inline-item inline-item-large font-size-12">
                <ul class="nav nav-pipe">
                  <li class="active"><a href="">EN</a></li>
                  <li><a href="">FR</a></li>
                  <li><a href="">IT</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="margin margin-bottom">
          <div class="row margin-top margin">
            <div class="col-md-3 col-lg-5">
              <h1 class="logo">
                <a href="/" class="block">
                  <img src="images/logo-wwmemorials.png" alt="WW Memorials">
                </a>
              </h1>
            </div>
            <div class="col-md-5 col-lg-4">
              <ul class="nav nav-primary text-uppercase pull-right">
                <li><a ui-sref="monuments">Monuments</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href=""><img src="images/svg/search.svg" alt="" class="image-svg width-16 height-16"></a></li>
              </ul>
            </div>
            <div class="col-md-4 col-lg-3">
              <div class="btn-group-auth pull-right">
                <div class="btn-group text-uppercase">
                  <a ui-sref="signIn" class="btn btn-default">Sign in</a>
                  <a ui-sref="signUp" class="btn btn-base">Create account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>