  <div class="slide-primary spaced spaced-bottom">
    <div class="list-slide owl-carousel" carousel options='{ "items" : 1 }'>
      <div class="slide-item" style="background-image: url(images/slider.jpg)">
        <div class="module text-clean">
          <div class="module module-lg background-base-alpha">
            <h3 class="typo-script-special font-size-72 slide-title spaced spaced-bottom">The <br>world's first</h3>
            <div class="slide-body spaced spaced-md">
              <p class="font-size-24">complete online tool for customizing &amp; ordering a headstone.</p>
            </div>
            <a href="javascript:;" class="btn btn-block btn-lg btn-clean text-uppercase text-spaced carousel-start">Start tour</a>
          </div>
        </div>
      </div>
      <div class="slide-item" style="background-image: url(images/slider.jpg)">
        <div class="module text-clean">
          <div class="module module-lg background-base-alpha">
            <h3 class="typo-script-special font-size-72 slide-title spaced spaced-bottom">The <br>world's first</h3>
            <div class="slide-body spaced spaced-md">
              <p class="font-size-24">complete online tool for customizing &amp; ordering a headstone.</p>
            </div>
            <a href="javascript:;" class="btn btn-block btn-lg btn-clean text-uppercase text-spaced carousel-to" data-carousel-to="2">Next</a>
          </div>
        </div>
      </div>
      <div class="slide-item" style="background-image: url(images/slider.jpg)">
        <div class="module text-clean">
          <div class="module module-lg background-base-alpha">
            <h3 class="typo-script-special font-size-72 slide-title spaced spaced-bottom">The <br>world's first</h3>
            <div class="slide-body spaced spaced-md">
              <p class="font-size-24">complete online tool for customizing &amp; ordering a headstone.</p>
            </div>
            <a href="javascript:;" class="btn btn-block btn-lg btn-clean text-uppercase text-spaced">Start designing</a>
          </div>
        </div>
      </div>
    </div>
  </div>