      <div class="border-all border-seamless widget-sidebar-container">
        <div class="widget-sidebar widget-filter-style module">
          <div class="widget-sidebar-head clearfix border-bottom border-seamless text-uppercase">
            <h3 class="padding padding-bottom pull-left widget-sidebar-title font-size-16 text-spaced">Styles</h3>
            <div class="pull-right widget-sidebar-head-tool">
              <a href="" class="font-size-12 link-secondary"><strong class="icon-helper text-base font-size-10">x</strong> clear filter</a>
            </div>
          </div>
          <div class="widget-sidebar-body spaced">
            <div class="list-group text-uppercase">
              <div class="list-group-item">
                <a href="" class="clearfix block link-warning active">
                  <span class="pull-left">European</span>
                  <span class="pull-right">567</span>
                </a>
              </div>
              <div class="list-group-item">
                <a href="" class="clearfix block link-base">
                  <span class="pull-left">Slant</span>
                  <span class="pull-right text-secondary">33</span>
                </a>
              </div>
              <div class="list-group-item">
                <a href="" class="clearfix block link-base">
                  <span class="pull-left">Markers</span>
                  <span class="pull-right text-secondary">122</span>
                </a>
              </div>
              <div class="list-group-item">
                <a href="" class="clearfix block link-base">
                  <span class="pull-left">Vases</span>
                  <span class="pull-right text-secondary">67</span>
                </a>
              </div>
              <div class="list-group-item">
                <a href="" class="clearfix block link-base">
                  <span class="pull-left">Others</span>
                  <span class="pull-right text-secondary">244</span>
                </a>
              </div>
            </div>
          </div>
        </div><!-- .widget-filter-style -->
        <div class="widget-sidebar widget-filter-price module">
          <div class="widget-sidebar-head clearfix border-bottom border-seamless text-uppercase">
            <h3 class="padding padding-bottom pull-left widget-sidebar-title font-size-16 text-spaced">Price Range</h3>
            <div class="pull-right widget-sidebar-head-tool">
              <a href="" class="font-size-12 link-secondary"><strong class="icon-helper text-base font-size-10">x</strong> clear filter</a>
            </div>
          </div>
          <div class="widget-sidebar-body spaced">
            <div class="spaced">
              <div class="custom-range-slider">
                <div class="range-slider-track background-seamless"></div>
                <div class="range-slider-handle background-clean border-all border-base rounded" style="left: 5%;"></div>
                <div class="range-slider-active background-base" style="width:50%;left: 5%;"></div>
                <div class="range-slider-handle background-clean border-all border-base rounded" style="left: 55%"></div>
                <div class="range-slider-label font-size-12 text-secondary background-clean border-all border-double border-secondary" style="left: 5%;margin-left: -9.5px;">$500</div>
                <div class="range-slider-label font-size-12 text-secondary background-clean border-all border-double border-secondary" style="left: 55%;margin-left: -12px;">$2,500</div>
              </div>
            </div>
          </div>
        </div><!-- .widget-filter-price -->
        <div class="widget-sidebar widget-filter-size module">
          <div class="widget-sidebar-head clearfix border-bottom border-seamless text-uppercase">
            <h3 class="padding padding-bottom pull-left widget-sidebar-title font-size-16 text-spaced">Size</h3>
            <div class="pull-right widget-sidebar-head-tool">
              <a href="" class="font-size-12 link-secondary"><strong class="icon-helper text-base font-size-10">x</strong> clear filter</a>
            </div>
          </div>
          <div class="widget-sidebar-body spaced">
            <div class="btn-cloud text-lowercase">
              <a href="" class="btn btn-sm btn-default active"><span class="text-spaced font-size-14">Small</span></a>
              <a href="" class="btn btn-sm btn-default"><span class="text-spaced font-size-14">Medium</span></a>
              <a href="" class="btn btn-sm btn-default"><span class="text-spaced font-size-14">Large</span></a>
              <a href="" class="btn btn-sm btn-default"><span class="text-spaced font-size-14">Extra Large</span></a>
            </div>
          </div>
        </div><!-- .widget-filter-size -->
      </div>