              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Accessories</h3>
                </div>
                <div class="border-bottom border-seamless-darken">
                  <div class="row row-tight">
                    <div class="col-xs-6">
                      <a ui-sref="designerTool.accessories" class="btn btn-block btn-lg btn-clean text-uppercase text-spaced"><strong class="font-size-14">Select a base</strong></a>
                    </div>
                    <div class="col-xs-6 border-left border-seamless-darken">
                      <a ui-sref="designerTool.accessoriesVase" class="btn btn-block btn-lg btn-clean text-uppercase text-spaced active"><strong class="font-size-14">Add a vase</strong></a>
                    </div>
                  </div>
                </div>
                <div class="widget-body contain-scroll wrap-collection">
                  <form action="" class="module form-primary">
                    <div class="row row-tight">
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-1.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-2.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-3.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-4.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-5.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-6.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-7.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-8.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/vase/vase-9.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Select</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form-group-submit border-top border-seamless-darken">
                  <div class="row no-gutter">
                    <div class="col-xs-4">
                      <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.uploadPortrait"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                    </div>
                    <div class="col-xs-8">
                      <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.finalPreview">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                    </div>
                  </div>
                </div>
              </div>