              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Final Preview</h3>
                </div>

                <div class="widget-body module">
                  <ul class="list-default cart-list-spec">
                    <li class="spaced border-bottom border-seamless-darken">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="width-54 height-54">
                                    <img src="images/material/AmericanBlack.png" alt="" class="media-object">
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <strong class="block font-size-13 text-uppercase text-mute text-spaced">Color option</strong>
                                <p>American Black</p>
                            </div>
                        </div>
                    </li>
                    <li class="spaced border-bottom border-seamless-darken relative">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="width-54 height-54">
                                    <img src="images/art/art-1.png" alt="" class="media-object">
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <strong class="block font-size-13 text-uppercase text-mute text-spaced">Artwork</strong>
                                <p>Angel</p>
                            </div>
                        </div>
                        <a href="" tooltip title="Remove artwork" class="item-remove font-size-20" data-placement="left"><strong>&times;</strong></a>
                    </li>
                    <li class="spaced border-bottom border-seamless-darken relative">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="width-54 height-54">
                                    <img src="images/base/base-1.jpg" alt="" class="media-object">
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <strong class="block font-size-13 text-uppercase text-mute text-spaced">Selected base</strong>
                                <p>Base 01</p>
                            </div>
                        </div>
                        <a href="" tooltip title="Remove base" class="item-remove font-size-20" data-placement="left"><strong>&times;</strong></a>
                    </li>
                    <li class="spaced border-bottom border-seamless-darken relative">
                        <div class="media">
                            <div class="media-left media-middle">
                                <div class="width-54 height-54">
                                    <img src="images/vase/vase-1.png" alt="" class="media-object">
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <strong class="block font-size-13 text-uppercase text-mute text-spaced">Selected vase</strong>
                                <p>Bahama Blue Granite</p>
                                <strong class="text-highlight">$200</strong>
                            </div>
                        </div>
                        <a href="" tooltip title="Remove vase" class="item-remove font-size-20" data-placement="left"><strong>&times;</strong></a>
                    </li>
                    <li class="spaced">
                        <div class="font-size-18 text-uppercase text-spaced">
                            <strong>Total: </strong> <strong class="text-highlight">$1,200</strong>
                        </div>
                    </li>
                </ul>
                </div>

                <div class="form-group-submit border-top border-seamless-darken">
                  <div class="row no-gutter">
                    <div class="col-xs-4">
                      <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.accessories"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                    </div>
                    <div class="col-xs-8">
                      <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="checkout">Checkout <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                    </div>
                  </div>
                </div>
              </div>