    <div class="container container-global">
      <ng-include src="'views/partial/designer-tool-menu.html'"></ng-include>
      
      <div class="row margin-top margin">

        <div class="col-lg-9 col-lg-push-3 col-md-12" id="wrap-stage">
          <div class="row">
            <div class="col-md-8" id="stage-primary">
              <div class="spaced spaced-lg background-clean">
                <div class="stage">
                  <div class="stage-content typo-script text-clean template-1">
                    <div class="stage-item stage-artwork">
                      <img src="images/template-artwork.png" alt="">
                    </div>
                    <div class="stage-item stage-full-name">
                      <p class="font-size-45">{{ template.fullName }}</p>
                    </div>
                    <div class="stage-item stage-date-of-birth">
                      <p class="font-size-17">{{ template.dateOfBirth | date: 'MMM dd' }}</p>
                      <p class="font-size-28">{{ template.dateOfBirth | date: 'yyyy' }}</p>
                    </div>
                    <div class="stage-item stage-date-of-deceased">
                      <p class="font-size-17">{{ template.dateOfDeceased | date: 'MMM dd' }}</p>
                      <p class="font-size-28">{{ template.dateOfDeceased | date: 'yyyy' }}</p>
                    </div>
                    <div class="stage-item stage-portrait">
                      <img src="images/template-portrait.png" alt="">
                    </div>
                    <div class="stage-item stage-epitaph">
                      <p class="font-size-22">{{ template.epitaph }}</p>
                    </div>
                  </div>
                  <img src="images/stone.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-4 wrap-tool">
              <div class="contain-tool" ui-view></div>
            </div>
          </div>
          <div class="margin-top margin background-clean">
            <div class="module">
              <div class="row">
                <div class="col-md-7 col-lg-8">
                  <div class="panel-view text-uppercase pull-left">
                    <div class="inline-item inline-item-large">
                      <a href="" class="block text-center active">
                        <img src="images/svg/view-front.svg" alt="" class="image-svg width-54 height-54">
                        <span class="block">Front view</span>
                      </a>
                    </div>
                    <div class="inline-item inline-item-large">
                      <a href="" class="block text-center">
                        <img src="images/svg/view-back.svg" alt="" class="image-svg width-54 height-54">
                        <span class="block">Back view</span>
                      </a>
                    </div>
                  </div>
                  <div class="panel-total text-uppercase pull-right margin margin-top">
                    <p class="font-size-15">Total: <strong class="price-total font-size-24">&#36;1,200</strong></p>
                  </div>
                </div>
                <div class="col-md-5 col-lg-4">
                  <div class="btn-group btn-group-action text-uppercase pull-right margin margin-top">
                    <a ui-sref="account" class="btn btn-default">Save as template</a>
                    <a ui-sref="checkout" class="btn btn-base">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-lg-pull-9 col-md-12">
          <ng-include-resp src="'views/partial/designer-tool-template-medium.html'" mq="(max-width:1919px)" is-default></ng-include-resp>
          <ng-include-resp src="'views/partial/designer-tool-template.html'" mq="(min-width:1920px)"></ng-include-resp>
        </div>
      </div>
    </div>