              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Inscription Information</h3>
                </div>
                <div class="widget-body">
                  <form action="" class="module form-primary">
                    <div class="form-group">
                      <label for="full_name" class="control-label text-spaced text-uppercase font-size-12">Full name</label>
                      <div class="control-input">
                        <input type="text" name="full_name" id="full_name" class="form-control" data-ng-model="template.fullName">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-6">
                          <label for="birth_of_date" class="control-label text-spaced text-uppercase font-size-12">Birth of date</label>
                          <div class="control-input">
                            <input type="text" name="birth_of_date" id="birth_of_date" class="form-control input-datepicker" data-ng-model="template.dateOfBirth">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <label for="date_of_passing" class="control-label text-spaced text-uppercase font-size-12">Date of passing</label>
                          <div class="control-input">
                            <input type="text" name="date_of_passing" id="date_of_passing" class="form-control input-datepicker" data-ng-model="template.dateOfDeceased">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="epitaph" class="control-label text-spaced text-uppercase font-size-12">Epitaph</label>
                      <div class="control-input">
                        <textarea name="epitaph" id="epitaph" cols="30" rows="10" class="form-control" data-ng-model="template.epitaph"></textarea>
                      </div>
                    </div>
                    <div class="form-group-submit">
                      <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.material">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                    </div>
                  </form>
                </div>
              </div>