              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Granite Material Color</h3>
                </div>
                <div class="widget-body">
                  <form action="" class="module form-primary">
                    <div class="row">
                      <div class="col-xs-3" data-ng-repeat="material in materials">
                        <label class="label-radio-thumbnail">
                          <input type="radio" name="material" data-ng-value="material.id" class="sr-only" 
                          data-ng-model="template.material" 
                          data-ng-class="{ 'active' : template.material === material.id }">
                          <img src="images/svg/check.svg" alt="" class="image-svg width-30 height-30 fill-warning">
                          <span class="radio-thumbnail">
                            <img data-ng-attr-src="images/material/{{ material.thumbnail }}" alt="">
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="form-group-submit">
                      <div class="row no-gutter">
                        <div class="col-xs-4">
                          <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.inscription"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                        </div>
                        <div class="col-xs-8">
                          <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.artwork">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>