              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Upload portrait</h3>
                </div>
                <div class="widget-body wrap-upload relative">
                  <form action="" class="height-100p">
                    <div class="form-group height-100p">
                      <div class="module contain-upload height-100p" 
                          custom-upload
                          accepted-files="image/*"
                          url="https://httpbin.org/post" 
                          clickable="#upload-trigger"
                          preview-template=".preview-template">
                          <div class="preview-template">
                              <div class="text-center contain-preview fill-space">
                                  <div class="spaced spaced-lg">
                                    <div class="preview text-center visible-complete relative spaced spaced-lg">
                                      <div class="contain-upload-thumbnail relative">
                                        <span class="file-remove" data-dz-remove>&times;</span>
                                      </div>
                                    </div>
                                    <div class="wrap-progress visible-processing hidden-complete">
                                      <div class="contain-progress background-seamless rounded">
                                        <div class="progress-radial">
                                          <div class="overlay"></div>  
                                        </div>
                                      </div>
                                      <p class="text-spaced font-size-12 spaced spaced-xs"><span class="progress-number"></span></p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="upload-helper text-center hidden-complete spaced spaced-lg">
                              <div class="spaced spaced-lg">
                                <div class="spaced spaced-md spaced-top">
                                  <img src="images/svg/upload.svg" alt="" class="image-svg width-100 height-100 fill-base">
                                </div>
                                <div class="spaced spaced-top hidden-started">
                                  <a href="javascript:;" class="btn btn-default text-uppercase text-spaced">
                                    <strong>Select a photo</strong>
                                  </a>
                                </div>
                                <p class="text-spaced font-size-12 spaced spaced-xs hidden-started">or drag and drop the picture here</p>
                              </div>
                          </div>
                          <div class="fill-space upload-trigger" id="upload-trigger"></div>
                          <div class="fill-space text-clean text-center upload-dragover visible-dragover hidden-complete">
                            <div class="contain-vertical-align">
                              <div class="vertical-align vertical-align-middle">
                                <img src="images/svg/drag.svg" alt="" class="image-svg width-100 height-100 fill-clean">
                                <p class="spaced spaced-top text-spaced text-uppercase"><strong>Drop it here</strong></p>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="form-group-submit border-top border-seamless-darken">
                      <div class="row no-gutter">
                        <div class="col-xs-4">
                          <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.artwork"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                        </div>
                        <div class="col-xs-8">
                          <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.accessories">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>