              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Choose Artwork</h3>
                </div>
                <div class="media media-tight border-bottom border-seamless-darken">
                  <div class="media-left media-middle text-center border-right border-seamless-darken">
                    <a ui-sref="designerTool.artwork" class="block module">
                      <img src="images/svg/arrow-back-circle.svg" alt="" class="image-svg width-30 height-30 fill-base">
                    </a>
                  </div>
                  <div class="media-body media-middle">
                    <div class="text-center">
                      <img src="images/svg/art-angel.svg" alt="" class="inline-item image-svg width-54 height-54 fill-base">
                      <div class="selected-art inline-item text-left">
                        <p class="text-uppercase text-spaced font-size-16"><strong>Angels</strong></p>
                        <span class="text-mute">Choose art from below</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget-body contain-scroll wrap-collection">
                  <form action="" class="module form-primary">
                    <div class="row row-tight">
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-1.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-2.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-3.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-4.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-5.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-6.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-7.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-8.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <div class="text-center btn-collection module">
                          <div class="block-center width-100 height-100">
                            <img src="images/art/art-9.png" alt="" class="image-collection">
                          </div>
                          <div class="spaced spaced-xs spaced-top">
                            <a href="" class="btn btn-sm btn-block btn-default text-uppercase">Swap</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="form-group-submit border-top border-seamless-darken">
                  <div class="row no-gutter">
                    <div class="col-xs-4">
                      <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.material"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                    </div>
                    <div class="col-xs-8">
                      <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.uploadPortrait">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                    </div>
                  </div>
                </div>
              </div>