              <div class="widget widget-inscription background-clean relative" equal-height equal-to="#stage-primary">
                <div class="widget-title text-uppercase border-bottom border-seamless-darken">
                  <h3 class="text-spaced font-size-14">Choose Artwork</h3>
                </div>
                <div class="widget-body">
                  <form action="" class="module form-primary">
                    <div class="spaced spaced-bottom">
                      <div class="control-icon">
                        <input type="text" placeholder="Search artwork" class="form-control">
                        <img src="images/svg/search.svg" alt="" class="image-svg fill-base width-16 height-16 input-icon">
                      </div>
                    </div>
                    <div class="row row-tight">
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-angel.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Angels</strong></span>
                          <span class="text-mute font-size-12">13 items</span>
                        </a>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-dove.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Doves</strong></span>
                          <span class="text-mute font-size-12">6 items</span>
                        </a>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-flag.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Flags</strong></span>
                          <span class="text-mute font-size-12">12 items</span>
                        </a>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-floral.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Florals</strong></span>
                          <span class="text-mute font-size-12">20 items</span>
                        </a>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-heart.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Hearts</strong></span>
                          <span class="text-mute font-size-12">11 items</span>
                        </a>
                      </div>
                      <div class="col-xs-6 col-lg-4">
                        <a ui-sref="designerTool.collection" class="btn-collection btn btn-auto btn-clean text-center block">
                          <img src="images/svg/art-music.svg" alt="" class="image-svg fill-base width-72 height-72">
                          <span class="block text-uppercase spaced spaced-xs spaced-top"><strong>Musics</strong></span>
                          <span class="text-mute font-size-12">4 items</span>
                        </a>
                      </div>
                    </div>

                    <div class="form-group-submit border-top border-seamless-darken">
                      <div class="row no-gutter">
                        <div class="col-xs-4">
                          <a class="btn btn-lg btn-block text-uppercase btn-clean" ui-sref="designerTool.material"><img src="images/svg/arrow-back.svg" alt="" class="image-svg width-16 height-16 icon-helper"> Back</a>
                        </div>
                        <div class="col-xs-8">
                          <button class="btn btn-lg btn-block text-uppercase btn-sacnite" ui-sref="designerTool.uploadPortrait">Next <img src="images/svg/arrow-right.svg" alt="" class="image-svg width-24 height-24 icon-helper icon-helper-submit"></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>