@media only screen and (min-width: $screen-lg-min)
	.container
		width: 100%
		width: -webkit-calc(100% - #{$grid-gutter-width})
		width: -moz-calc(100% - #{$grid-gutter-width})
		width: calc(100% - #{$grid-gutter-width})
		max-width: 1840px

	.col-lg-20
		width: 20%

	.media-left
		&.visible-lg
			display: table-cell!important