@media only screen and (max-width: $screen-xs-max)
	[class^="col-md"],
	[class^="col-sm"],
	[class^="col-lg"],
	[class*="col-md"],
	[class*="col-sm"],
	[class*="col-lg"]
		+ [class^="col-md"]:not([class^="col-xs"]),
		+ [class^="col-sm"]:not([class^="col-xs"]),
		+ [class^="col-lg"]:not([class^="col-xs"]),
		+ [class*="col-md"]:not([class*="col-xs"]),
		+ [class*="col-sm"]:not([class*="col-xs"]),
		+ [class*="col-lg"]:not([class*="col-xs"])
			margin-top: 15px


	.media
		> .media-left,
		> .media-right,
		> .media-body
			display: block
			width: 100%

		> .media-body
			padding-bottom: .5 * $base-gap

		> .media-left ~ .media-body
			padding-bottom: 0
			padding-top: .5 * $base-gap


	.spaced
		padding-top: .5 * $base-gap
		padding-bottom: .5 * $base-gap

		&.spaced-triple
			padding-top: 1.5 * $base-gap
			padding-bottom: 1.5 * $base-gap

		&.spaced-double
			padding-top: $base-gap
			padding-bottom: $base-gap	

		&.spaced-top
			padding-bottom: 0

		&.spaced-bottom
			padding-top: 0		

	.module
		padding: .5 * $base-gap		

	.no-padding-top
		padding-top: 0

	.no-padding-bottom
		padding-bottom: 0
		



@media only screen and (max-width: $screen-xs-min - 1px)
				





@media only screen and (max-width: $screen-xs-max) and (orientation: landscape)