@media only screen and (min-width: $screen-md-min)
	.contain-cart-product-summary,
	.contain-cart-payment
		border-left: 1px solid get-color(seamless-darken)
		


				
					
					
@media only screen and (min-width: $screen-md-min) and (max-width: 1440px)
	.nav-sidebar
		.icon-helper
			width: 30px
			height: 30px

		a,
		a:visited
			@include rem(font-size, 12px)


	.contain-column-spacer
		display: flex
		flex-flow: row wrap

		> [class^="col-"],
		> [class*="col-"]
			border-left: 1px solid get-color(seamless-darken)

			&:first-child
				border-left: none