<div class="contain-primary spaced">
  <div class="contain-inner clearfix">
    <div class="col-md-2">
        <div class="module background-base text-center text-clean widget-profile">
            <img src="images/profile.jpg" alt="" class="rounded block">
            <strong class="block text-uppercase fn spaced spaced-top">Missy Reinikainen</strong>
        </div>
        <div class="spaced background-seamless-darken widget-nav-sidebar">
            <ul class="nav nav-sidebar text-uppercase">
                <li class="active">
                    <a href="/">
                        <img src="images/svg/dashboard.svg" alt="" class="image-svg width-36 height-36 fill-base icon-helper">
                        Dashboard 
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="images/svg/account.svg" alt="" class="image-svg width-36 height-36 fill-mute icon-helper"> 
                        Account settings
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="images/svg/personal.svg" alt="" class="image-svg width-36 height-36 fill-mute icon-helper"> 
                        Personal details
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="images/svg/payment.svg" alt="" class="image-svg width-36 height-36 fill-mute icon-helper"> 
                        Payment details
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="background-clean border-all border-seamless-darken">
            <div class="row contain-column-spacer">
                <div class="col-md-8">
                    <div class="module">
                        <h3 class="head-section text-uppercase text-spaced">Track order</h3>
                        <div class="spaced spaced-bottom">
                            <table class="table table-fixed">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase">&nbsp;</th>
                                        <th width="200" class="text-uppercase">Purchasing date</th>
                                        <th width="150" class="text-uppercase">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="media-left media-middle">
                                                    <a href="/" class="thumbnail thumbnail-small rounded border-all border-double border-seamless-darken">
                                                        <img src="images/thumbnail-catalog1.png" alt="" class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <div class="module">
                                                        <div class="border-left border-seamless-darken cart-product-overview">
                                                            <p class="cart-product-title">Ocean Green Granite</p>
                                                            <p>
                                                                <strong class="text-uppercase text-mute">Total:</strong> 
                                                                <strong>$1,200</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>12/10/2015</td>
                                        <td>
                                            <div class="bullet-item bullet-item-highlight text-uppercase text-spaced">
                                                <strong>New order</strong>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="background-seamless">
                            <div class="row row-flex border-bottom border-clean">
                                <div class="col-md-6">
                                    <div class="module">
                                        <div class="bullet-item bullet-item-primary text-uppercase text-spaced">
                                            <strong>New order</strong>
                                        </div>
                                        <p>New order has been received and is being verified</p>
                                    </div>
                                </div>
                                <div class="col-md-6 border-left border-clean">
                                    <div class="module">
                                        <div class="bullet-item bullet-item-danger text-uppercase text-spaced">
                                            <strong>In progress</strong>
                                        </div>
                                        <p>Your order is in production</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-flex">
                                <div class="col-md-6">
                                    <div class="module">
                                        <div class="bullet-item bullet-item-base text-uppercase text-spaced">
                                            <strong>Shipping in progress</strong>
                                        </div>
                                        <p>We have shipped your order. It should be delivered within few days.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 border-left border-clean">
                                    <div class="module">
                                        <div class="bullet-item bullet-item-success text-uppercase text-spaced">
                                            <strong>Complete</strong>
                                        </div>
                                        <p>Order has been successfully delivered.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="module">
                        <h3 class="head-section text-uppercase text-spaced">Recently viewed</h3>
                        <div class="sidebar-catalogue">
                            <div class="sidebar-catalogue-item">
                                <div class="media">
                                    <div class="media-left visible-lg">
                                        <a href="" class="thumbnail">
                                          <img src="images/thumbnail-catalog1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-spaced text-uppercase">Ocean Green Granite</p>
                                        <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                                        <div class="btn-group inline-block margin margin-top text-spaced">
                                          <a href="" class="btn btn-default">
                                            <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                                          </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-catalogue-item">
                                <div class="media">
                                    <div class="media-left visible-lg">
                                        <a href="" class="thumbnail inline-block margin margin-bottom">
                                          <img src="images/thumbnail-catalog3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="text-spaced text-uppercase">Dense Black Granite</p>
                                        <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                                        <div class="btn-group inline-block margin margin-top text-spaced">
                                          <a href="" class="btn btn-default">
                                            <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                                          </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-seamless-darken column-spacer account-complimentary">
                <div class="col-lg-5">
                    <div class="module">
                        <h3 class="head-section text-uppercase text-spaced">Save templates</h3>
                        <div class="clearfix border-all border-seamless-darken">
                            <div class="media media-spacer">
                                <div class="media-left">
                                    <div class="module">
                                        <img src="images/thumbnail-template.png" alt="" class="media-object">
                                    </div>
                                </div>
                                <div class="media-body border-left border-seamless-darken">
                                    <h4 class="head-section-inner text-uppercase">Last modified : 13/12/2015</h4>
                                    <div class="module border-top border-seamless-darken">
                                        <a href="" class="btn btn-default text-uppercase">Edit template</a>
                                        <p class="spaced spaced-top">
                                            <a href=""><strong class="text-uppercase text-spaced">view all saved templates</strong></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="module">
                        <h3 class="head-section text-uppercase text-spaced">All available templates</h3>
                        <div class="slide-template owl-carousel" carousel options='{ "items" : 3, "nav" : true, "dots" : false, "loop": true }'>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                            <div class="slide-template-item">
                                <div class="module module-md text-center">
                                  <img src="images/thumbnail-template.png" alt="">
                                  <a href="" class="btn btn-default-alt btn-block btn-choose text-spaced">Choose</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>