<div class="contain-primary spaced">
  <div class="contain-inner row row-tight row-flex clearfix border-all border-seamless-darken background-clean">
    <div class="col-md-9">
        <div class="module background-base text-clean">
            <div class="contain-head-line">
                <div class="head-line-content pull-left text-center">
                    <img src="images/svg/personal.svg" alt="" class="image-svg fill-clean width-54 height-42">
                    <p class="spaced spaced-top spaced-xs text-uppercase">Personal details</p>
                </div>
                <div class="head-line-content pull-right text-center">
                    <img src="images/svg/payment.svg" alt="" class="image-svg fill-clean width-54 height-42">
                    <p class="spaced spaced-top spaced-xs text-uppercase">Payment methods</p>
                </div>
            </div>
        </div>
        <form method="post" class="clearfix display-flex">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="module">
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="first_name" class="control-label">First name</label>
                                    <div class="control-input">
                                        <input type="text" class="form-control" id="first_name">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="last_name" class="control-label">Last name</label>
                                    <div class="control-input">
                                        <input type="text" class="form-control" id="last_name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label">Address</label>
                                <div class="control-input">
                                    <input type="text" class="form-control" id="address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="control-label">City</label>
                                <div class="control-input">
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country" class="control-label">Country</label>
                                <div class="control-input">
                                    <select name="country" id="country" class="form-control" custom-select data-nosearch="true">
                                        <option value="Australia">Australia</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States" selected="selected">United States</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-xs-6">
                                    <label for="postal_code" class="control-label">Postal code</label>
                                    <div class="control-input">
                                        <input type="text" class="form-control" id="postal_code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 background-seamless contain-cart-payment">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                      <div class="module">
                        <div class="spaced spaced-bottom border-bottom border-clean">
                            <div class="clearfix spaced spaced-xs spaced-bottom">
                                <label for="payment_paypal" class="label-radio pull-left">
                                    <input type="radio" name="payment" value="paypal" id="payment_paypal">
                                    <span class="font-size-16 text-spaced">Paypal</span>
                                </label>
                                <img src="images/paypal.png" alt="" class="pull-right">
                            </div>
                            <p>Check out simply and more securely. You don’t have to enter your credit card details every time you pay.</p>
                        </div>
                        <div class="spaced">
                            <div class="clearfix spaced spaced-xs spaced-bottom">
                                <label for="payment_cc" class="label-radio pull-left">
                                    <input type="radio" name="payment" value="credit card" id="payment_cc" checked="checked">
                                    <span class="font-size-16 text-spaced">Credit card</span>
                                </label>
                                <img src="images/credit-card.png" alt="" class="pull-right">
                            </div>
                            <p>WWMemorials accepts a variety of payment options, including credit cards. We accept Visa, MasterCard, and American Express.</p>
                        </div>
                        <div class="form-group">
                            <label for="cc_no" class="control-label">Credit card number</label>
                            <div class="control-input">
                                <input type="text" class="form-control" id="cc_no">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="cvv" class="control-label">CVV Code</label>
                                <div class="control-input">
                                    <input type="text" class="form-control" id="cvv">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <label for="cc_exp_m" class="control-label">Expiry date</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select name="cc_exp_m" id="cc_exp_m" class="form-control" custom-select data-nosearch="true">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8">
                                        <select name="cc_exp_y" id="cc_exp_y" class="form-control" custom-select data-nosearch="true">
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group spaced spaced-bottom">
                            <label for="cc_name" class="control-label">Name on card</label>
                            <div class="control-input">
                                <input type="text" class="form-control" id="cc_name">
                            </div>
                        </div>
                    </div>  
                    </div>
                </div>
            </div>
        </form>
        <div class="module border-top border-seamless-darken">
            <div class="row">
                <div class="col-md-6">
                    <a ui-sref="designerTool.inscription" class="btn btn-default text-uppercase text-spaced"><strong>Back to designer tool</strong></a>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <a href="/" class="btn btn-default text-uppercase text-spaced"><strong>Cancel</strong></a>
                        <button class="btn btn-sacnite text-uppercase text-spaced" type="submit"><strong>Purchase</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 contain-cart-product-summary">
        <div class="module">
            <div class="text-center cart-product-summary spaced spaced-bottom">
                <img src="images/thumbnail-catalog1.png" alt="">
                <p class="spaced spaced-xs spaced-top">Ocean Green Granite</p>
            </div>
            <ul class="list-default cart-list-spec">
                <li class="spaced border-bottom border-seamless-darken">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="width-54 height-54">
                                <img src="images/material/AmericanBlack.png" alt="" class="media-object">
                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <strong class="block font-size-13 text-uppercase text-mute text-spaced">Color option</strong>
                            <p>American Black</p>
                        </div>
                    </div>
                </li>
                <li class="spaced border-bottom border-seamless-darken">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="width-54 height-54">
                                <img src="images/art/art-1.png" alt="" class="media-object">
                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <strong class="block font-size-13 text-uppercase text-mute text-spaced">Artwork</strong>
                            <p>Angel</p>
                        </div>
                    </div>
                </li>
                <li class="spaced border-bottom border-seamless-darken">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="width-54 height-54">
                                <img src="images/base/base-1.jpg" alt="" class="media-object">
                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <strong class="block font-size-13 text-uppercase text-mute text-spaced">Selected base</strong>
                            <p>Base 01</p>
                        </div>
                    </div>
                </li>
                <li class="spaced border-bottom border-seamless-darken">
                    <div class="media">
                        <div class="media-left media-middle">
                            <div class="width-54 height-54">
                                <img src="images/vase/vase-1.png" alt="" class="media-object">
                            </div>
                        </div>
                        <div class="media-body media-middle">
                            <strong class="block font-size-13 text-uppercase text-mute text-spaced">Selected vase</strong>
                            <p>Bahama Blue Granite</p>
                            <strong class="text-highlight">$200</strong>
                        </div>
                    </div>
                </li>
                <li class="spaced">
                    <div class="font-size-18 text-uppercase text-spaced">
                        <strong>Total: </strong> <strong class="text-highlight">$1,200</strong>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>