<div class="contain-primary background-clean margin margin-top">
  <div class="contain-inner clearfix">
    <div class="col-md-4 col-lg-3 padding padding-md padding-top">
      <ng-include src="'views/partial/sidebar-catalog.html'"></ng-include>
    </div>
    <div class="col-md-8 col-lg-9">
      <div class="primary-content">
        <form class="contain-custom-preview module module-lg border-bottom border-seamless">
          <div class="row">
            <div class="col-lg-4">
              <div class="custom-preview-head">
                <h3 class="text-spaced text-uppercase font-size-18">Custom Preview</h3>
                <p class="text-secondary">Fill in the fields for quick previews</p>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row custom-preview-fields">
                <div class="col-xs-6 col-md-3">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-xs-6 col-md-3">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="col-xs-6 col-md-3">
                  <input type="text" placeholder="Date of birth" class="form-control input-datepicker">
                </div>
                <div class="col-xs-6 col-md-3">
                  <input type="text" placeholder="Date of passing" class="form-control input-datepicker">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="contain-catalog">
          <div class="row">
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog1.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Ocean Green Granite</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Avon Grey Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,320</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog1.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Ocean Green Granite</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Avon Grey Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,320</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog1.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Ocean Green Granite</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Avon Grey Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,320</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog1.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Ocean Green Granite</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Avon Grey Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,320</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3 catalog">
              <div class="module margin margin-bottom text-center">
                <a href="" class="thumbnail inline-block margin margin-bottom">
                  <img src="images/thumbnail-catalog2.png" alt="">
                </a>
                <p class="text-spaced text-uppercase">Dense Black Granite Memorial</p>
                <p class="catalog-price"><strong class="inline-block border-secondary border-bottom border-double">$1,500</strong></p>
                <div class="btn-group inline-block margin-md margin-top text-spaced">
                  <a href="" class="btn btn-default">
                    <img src="images/svg/search.svg" alt="" class="image-svg width-20 height-20 icon-helper"> view
                  </a>
                  <a ui-sref="designerTool.inscription" class="btn btn-base-alt">
                    <img src="images/svg/customize.svg" alt="" class="image-svg width-20 height-20 icon-helper"> customize
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .contain-catalog -->
      </div>
    </div>
  </div>
</div>