<div class="contain-primary spaced">
  <div class="contain-inner clearfix">
    <div class="col-md-6 col-md-offset-3">
    	<div class="background-base text-clean module module-lg">
    		<div class="text-center">
    			<i class="icon-user"></i>
    		</div>
    		<form action="/" class="form-regular spaced spaced-lg">
    			<div class="form-group">
    				<label for="email_address" class="control-label text-spaced text-uppercase">E-mail address</label>
    				<div class="control-input">
    					<input type="email" class="form-control" id="email_address">
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="password" class="control-label text-spaced text-uppercase">Password</label>
    				<div class="control-input">
    					<input type="password" class="form-control" id="password">
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="re_password" class="control-label text-spaced text-uppercase">Re-type Password</label>
    				<div class="control-input">
    					<input type="password" class="form-control" id="re_password">
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="inline-item">
    					<button class="btn btn-clean btn-medium text-uppercase" type="submit">
    						<strong>Register</strong>
    					</button>
    				</div>
    				<div class="inline-item">
    					<a href="/" class="text-uppercase text-spaced link-clean link-underline"><strong>Reset password</strong></a>
    				</div>
    				<div class="inline-item">
    					<a ui-sref="signIn" class="text-uppercase text-spaced link-clean link-underline"><strong>Login</strong></a>
    				</div>
    			</div>
    		</form>
    	</div>
    </div>
  </div>
</div>