.catalog-price
	> strong
		display: inline-block
		padding-bottom: 4px

.catalog
	&:nth-of-type(odd)
		border-right: 1px solid get-color(seamless)

	@include desktop-large
		&:nth-child(4n-2)
			border-right: 1px solid get-color(seamless)