.slide-primary
	position: relative

.slide-title
	position: relative
	line-height: 1

	&:after
		content: ''
		display: block
		width: 100px
		height: 2px
		background: get-color(warning)
		position: absolute
		left: 0
		bottom: 0

.slide-item
	width: 100%		
	padding-bottom: 2 * $base-gap
	min-height: 576px