.stage
	position: relative
	
	img
		display: block
		margin: 0 auto

.stage-content
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2

.stage-item
	position: absolute

.stage-artwork
	.template-1 &
		top: 12.69%
		left: 0
		width: 100%
		text-align: center

.stage-full-name
	.template-1 &
		top: 22.98%
		left: 0
		width: 100%
		text-align: center

.stage-portrait
	.template-1 &
		top: 36.5%
		left: 0
		width: 100%
		text-align: center

.stage-date-of-birth,
.stage-date-of-deceased
	text-align: center

	.template-1 &
		top: 44%

.stage-date-of-birth
	.template-1 &
		left: 50%
		margin-left: -26.04%

.stage-date-of-deceased
	.template-1 &
		right: 50%
		margin-right: -26.04%		
				
.stage-epitaph
	.template-1 &
		top: 65.46%
		left: 35%
		width: 30%
		text-align: center
		
